<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key="BaseURL" value="http://qa.ole5.sa" />
    <add key="AdminUserName" value="arslanadmin" />
    <add key="AdminPassword" value="P@ssw0rd!@#" />
    <add key="BrowserType" value="chrome" />
    <!--<add key="BrowserType" value="firefox"/>-->
    <add key="UserName" value="arslan" />
    <add key="Password" value="Automation#2017" />
    <add key="User" value="arslan" />
    <add key="internalDepartmentSameDep" value="َQuality Assurance" />
    <add key="internalDepartmentSameDepAr" value="ضمان الجودة" />
    <add key="UserMainDepartment" value="MoFA HQ" />
    <add key="UserMainDepartmentAr" value="ديوان الوزارة" />
    <add key="EncryptedMessagePW" value="P@ssw0rd!@#" />
    <add key="UserSameDepartment" value="user_hq" />
    <add key="PasswordUserSameDepartment" value="P@ssw0rd!@#" />
    <add key="EncryptedMessagePW" value="P@ssw0rd!@#" />
    <add key="ExternalEntitySameCountry" value="King Saud University" />
    <add key="DeliveryType" value="Delivery by hand" />
    <add key="CommDepSameDep" value="إدارة الاتصالات الإدارية" />
    <add key="AttachementFolder" value="C:\Users\ahaider\source\repos\T2Automation\T2automation\Lib\" />
    <add key="SecurityLevelOptionalAttach" value="Normal Security" />
    <add key="SecurityLevelForbidAttach" value="top secure" />
    <add key="SecurityLevelRequiredAttach" value="Non-secure" />
    <add key="OtherMainDepartment" value="Washington Embassy" />
    <add key="OtherMainDepartmentAr" value="سفارة واشنطن" />
    <add key="InternalDepartmentOtherDep" value="Saudi Affairs" />
    <add key="InternalDepartmentOtherDepAr" value="شؤون السعوديين" />
    <add key="ChildDepartmentSameDep" value="Audit" />
    <add key="ChildDepartmentSameDepAr" value="التدقيق" />
    <add key="ChildDepartmentOtherDep" value="Passport" />
    <add key="ChildDepartmentOtherDepAr" value="شؤون الجوازات" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>